services:
  open-ldap:
    image: bitnamilegacy/openldap:latest
    hostname: openldap
    environment:
      - LDAP_ADMIN_USERNAME=admin
      - LDAP_ADMIN_PASSWORD=admin
      - LDAP_ROOT=dc=bitwarden,dc=com
      - LDAP_ENABLE_TLS=yes
      - LDAP_TLS_CERT_FILE=/certs/openldap.pem
      - LDAP_TLS_KEY_FILE=/certs/openldap-key.pem
      - LDAP_TLS_CA_FILE=/certs/rootCA.pem
    volumes:
      - "./utils/openldap/ldifs:/ldifs"
      - "./utils/openldap/certs:/certs"
    ports:
      - "1389:1389"
      - "1636:1636"
    healthcheck:
      test:
        [
          "CMD",
          "ldapsearch",
          "-x",
          "-H",
          "ldap://localhost:1389",
          "-b",
          "dc=bitwarden,dc=com",
          "-D",
          "cn=admin,dc=bitwarden,dc=com",
          "-w",
          "admin",
        ]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
