<div class="container-fluid">
    <form #form (ngSubmit)="submit()" [appApiAction]="formPromise">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-spinner fa-spin" title="{{'loading' | i18n}}" aria-hidden="true"></i>
                        {{'loading' | i18n}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
