<div class="row">
  <div class="col-sm">
    <div class="card">
      <h3 class="card-header">{{ "about" | i18n }}</h3>
      <div class="card-body">
        <p>
          {{ "bitwardenDirectoryConnector" | i18n }}
          <br />
          {{ "version" | i18n : version }} <br />
          &copy; Bitwarden Inc. LLC 2015-{{ year }}
        </p>
        <button
          class="btn btn-primary"
          type="button"
          (click)="update()"
          [disabled]="checkingForUpdate"
        >
          <i class="bwi bwi-download bwi-fw" [hidden]="checkingForUpdate"></i>
          <i class="bwi bwi-spinner bwi-fw bwi-spin" [hidden]="!checkingForUpdate"></i>
          {{ "checkForUpdates" | i18n }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <h3 class="card-header">{{ "other" | i18n }}</h3>
      <div class="card-body">
        <button class="btn btn-primary" type="button" (click)="logOut()">
          {{ "logOut" | i18n }}
        </button>
        <button class="btn btn-primary" type="button" (click)="clearCache()">
          {{ "clearSyncCache" | i18n }}
        </button>
      </div>
    </div>
  </div>
</div>
