<div class="container-fluid">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        <i class="fa fa-dashboard"></i>
        {{ "dashboard" | i18n }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="settings" routerLinkActive="active">
        <i class="fa fa-cogs"></i>
        {{ "settings" | i18n }}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="more" routerLinkActive="active">
        <i class="fa fa-sliders"></i>
        {{ "more" | i18n }}
      </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
