html,
body {
  background-color: #f8fafc;
}

app-root > #loading {
  text-align: center;
  margin-top: 40vh;
  color: #6b7280;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: #0f172a;
  }

  app-root > #loading {
    color: #9ca3af;
  }
}
