@import "~bootstrap/scss/_variables.scss";

body {
    padding: 10px 0 20px 0;
}

h1 {
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;

    small {
        color: $text-muted;
        font-size: $h1-font-size * .5;
    }
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
}

h4 {
    font-weight: bold;
}

.nav.nav-tabs {
    margin-bottom: 20px;
}

#duo-frame {
    background: url('../images/loading.svg') 0 0 no-repeat;
    height: 380px;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

app-root > #loading {
    text-align: center;
    margin-top: 20px;
    color: $text-muted;
}
