name: Build

on:
  push:
    branches-ignore:
      - 'l10n_master'


jobs:
  cloc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up cloc
        run: |
          sudo apt update
          sudo apt -y install cloc
      - name: Print lines of code
        run: cloc --include-lang TypeScript,JavaScript,HTML,Sass,CSS --vcs git


  windows_cli:
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Windows builder
        run: |
          choco install checksum --no-progress
          choco install reshack --no-progress

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Install pkg-fetch
        shell: pwsh
        run: |
          cd $HOME
          $fetchedUrl = "https://github.com/vercel/pkg-fetch/releases/download/v2.5/uploaded-v2.5-node-v10.4.1-win-x64"

          New-Item -ItemType directory -Path .\.pkg-cache
          New-Item -ItemType directory -Path .\.pkg-cache\v2.5
          Invoke-RestMethod -Uri $fetchedUrl -OutFile ".\.pkg-cache\v2.5\fetched-v10.4.1-win-x64"

      - name: Set PACKAGE_VERSION & VER_INFO
        run: |
          $env:pkgVersion = (Get-Content -Raw -Path .\src\package.json | ConvertFrom-Json).version
          echo "PACKAGE_VERSION=$env:pkgVersion" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "WIN_PKG=$env:WIN_PKG" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "version: $env:pkgVersion"

          dir .pkg-cache

          if(Test-Path -Path $env:WIN_PKG) {
            echo "VER_INFO=true" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          }
        env:
          WIN_PKG: D:\a\directory-connector\directory-connector\.pkg-cache\v2.5\fetched-v10.4.1-win-x64

      - name: Keytar
        shell: pwsh
        run: |
          $keytarVersion = (Get-Content -Raw -Path .\src\package.json | ConvertFrom-Json).dependencies.keytar
          $nodeModVersion = node -e "console.log(process.config.variables.node_module_version)"
          $keytarTar = "keytar-v${keytarVersion}-node-v${nodeModVersion}-{0}-x64.tar"
          $keytarTarGz = "${keytarTar}.gz"
          $keytarUrl = "https://github.com/atom/node-keytar/releases/download/v${keytarVersion}/${keytarTarGz}"

          New-Item -ItemType directory -Path .\keytar\macos | Out-Null
          New-Item -ItemType directory -Path .\keytar\linux | Out-Null
          New-Item -ItemType directory -Path .\keytar\windows | Out-Null

          Invoke-RestMethod -Uri $($keytarUrl -f "darwin") -OutFile ".\keytar\macos\$($keytarTarGz -f "darwin")"
          Invoke-RestMethod -Uri $($keytarUrl -f "linux") -OutFile ".\keytar\linux\$($keytarTarGz -f "linux")"
          Invoke-RestMethod -Uri $($keytarUrl -f "win32") -OutFile ".\keytar\windows\$($keytarTarGz -f "win32")"

          7z e ".\keytar\macos\$($keytarTarGz -f "darwin")" -o".\keytar\macos"
          7z e ".\keytar\linux\$($keytarTarGz -f "linux")" -o".\keytar\linux"
          7z e ".\keytar\windows\$($keytarTarGz -f "win32")" -o".\keytar\windows"

          7z e ".\keytar\macos\$($keytarTar -f "darwin")" -o".\keytar\macos"
          7z e ".\keytar\linux\$($keytarTar -f "linux")" -o".\keytar\linux"
          7z e ".\keytar\windows\$($keytarTar -f "win32")" -o".\keytar\windows"

      - name: Setup Version Info
        shell: pwsh
        run: .\scripts\make-versioninfo.ps1

      - name: Resource Hacker
        shell: cmd
        run: |
          echo Package Version Flag: %VER_INFO%
          set PATH=%PATH%;C:\Program Files (x86)\Resource Hacker
          if defined VER_INFO ResourceHacker -open %WIN_PKG% -save %WIN_PKG% -action delete -mask ICONGROUP,1,
          if defined VER_INFO ResourceHacker -open version-info.rc -save version-info.res -action compile
          if defined VER_INFO ResourceHacker -open %WIN_PKG% -save %WIN_PKG% -action addoverwrite -resource version-info.res

      - name: Install
        run: npm install

      - name: Package CLI
        run: npm run dist:cli

      - name: Zip
        shell: cmd
        run: |
          7z a ./dist-cli/bwdc-windows-%PACKAGE_VERSION%.zip ./dist-cli/windows/bwdc.exe ./keytar/windows/keytar.node
          7z a ./dist-cli/bwdc-macos-%PACKAGE_VERSION%.zip ./dist-cli/macos/bwdc ./keytar/macos/keytar.node
          7z a ./dist-cli/bwdc-linux-%PACKAGE_VERSION%.zip ./dist-cli/linux/bwdc ./keytar/linux/keytar.node

      - name: Version Test
        run: |
          Expand-Archive -Path "./dist-cli/bwdc-windows-${env:PACKAGE_VERSION}.zip" -DestinationPath "./test/windows"
          $testVersion = Invoke-Expression '& ./test/windows/bwdc.exe -v'
          echo "version: $env:PACKAGE_VERSION"
          echo "testVersion: $testVersion"
          if($testVersion -ne $env:PACKAGE_VERSION) {
            Throw "Version test failed."
          }

      - name: Create checksums
        run: |
          checksum -f="./dist-cli/bwdc-windows-${env:PACKAGE_VERSION}.zip" `
            -t sha256 | Out-File ./dist-cli/bwdc-windows-sha256-${env:PACKAGE_VERSION}.txt
          checksum -f="./dist-cli/bwdc-macos-${env:PACKAGE_VERSION}.zip" `
            -t sha256 | Out-File ./dist-cli/bwdc-macos-sha256-${env:PACKAGE_VERSION}.txt
          checksum -f="./dist-cli/bwdc-linux-${env:PACKAGE_VERSION}.zip" `
            -t sha256 | Out-File ./dist-cli/bwdc-linux-sha256-${env:PACKAGE_VERSION}.txt

      - name: Upload windows zip to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-windows-${{ env.PACKAGE_VERSION }}.zip
          path: ./dist-cli/bwdc-windows-${{ env.PACKAGE_VERSION }}.zip

      - name: Upload mac zip to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-macos-${{ env.PACKAGE_VERSION }}.zip
          path: ./dist-cli/bwdc-macos-${{ env.PACKAGE_VERSION }}.zip

      - name: Upload linux zip to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-linux-${{ env.PACKAGE_VERSION }}.zip
          path: ./dist-cli/bwdc-linux-${{ env.PACKAGE_VERSION }}.zip

      - name: Upload windows checksum to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-windows-sha256-${{ env.PACKAGE_VERSION }}.txt
          path: ./dist-cli/bwdc-windows-sha256-${{ env.PACKAGE_VERSION }}.txt

      - name: Upload mac checksum to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-macos-sha256-${{ env.PACKAGE_VERSION }}.txt
          path: ./dist-cli/bwdc-macos-sha256-${{ env.PACKAGE_VERSION }}.txt

      - name: Upload linux checksum to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: bwdc-linux-sha256-${{ env.PACKAGE_VERSION }}.txt
          path: ./dist-cli/bwdc-linux-sha256-${{ env.PACKAGE_VERSION }}.txt


  windows_gui:
    runs-on: windows-latest
    if: false
    environment: prod 
    steps:
      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.x"

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Set Node options
        run: echo "NODE_OPTIONS=--max_old_space_size=4096" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        shell: pwsh

      - name: Print environment
        run: |
          node --version
          npm --version
          dotnet --version

      - name: Install AST
        shell: pwsh
        run: |
          cd $HOME

          git clone https://github.com/vcsjones/AzureSignTool.git
          cd AzureSignTool
          $latest_head = $(git rev-parse HEAD)[0..9] -join ""
          $latest_version = "0.0.0-g$latest_head"

          Write-Host "--------"
          Write-Host "git commit - $(git rev-parse HEAD)"
          Write-Host "latest_head - $latest_head"
          Write-Host "PACKAGE VERSION TO BUILD - $latest_version"
          Write-Host "--------"

          dotnet restore
          dotnet pack --output ./nupkg
          dotnet tool install --global --ignore-failed-sources --add-source ./nupkg --version $latest_version azuresigntool

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set PACKAGE_VERSION
        run: |
          $env:pkgVersion = (Get-Content -Raw -Path .\src\package.json | ConvertFrom-Json).version
          echo "PACKAGE_VERSION=$env:pkgVersion" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "version: $env:pkgVersion"

      - name: Install Node dependencies
        run: npm install

      - name: Run linter
        run: npm run lint

      - name: Build & Sign
        run: npm run dist:win
        env:
          ELECTRON_BUILDER_SIGN: 1
          SIGNING_VAULT_URL: ${{ secrets.SIGNING_VAULT_URL }}
          SIGNING_CLIENT_ID: ${{ secrets.SIGNING_CLIENT_ID }}
          SIGNING_TENANT_ID: ${{ secrets.SIGNING_TENANT_ID }}
          SIGNING_CLIENT_SECRET: ${{ secrets.SIGNING_CLIENT_SECRET }}
          SIGNING_CERT_NAME: ${{ secrets.SIGNING_CERT_NAME }}

      - name: List Dist
        run: dir ./dist

      - name: Publish Portable Exe to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: Bitwarden-Connector-Portable-${{ env.PACKAGE_VERSION }}.exe
          path: ./dist/Bitwarden-Connector-Portable-${{ env.PACKAGE_VERSION }}.exe

      - name: Publish Installer Exe to GitHub
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: Bitwarden-Connector-Installer-${{ env.PACKAGE_VERSION }}.exe
          path: ./dist/Bitwarden-Connector-Installer-${{ env.PACKAGE_VERSION }}.exe


  linux:
    runs-on: ubuntu-latest
    if: false
    steps:
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Set Node options
        run: echo "NODE_OPTIONS=--max_old_space_size=4096" >> $GITHUB_ENV

      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get -y install pkg-config libxss-dev libsecret-1-dev 
          sudo apt-get -y install rpm

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set PACKAGE_VERSION
        shell: pwsh
        run: |
          $env:pkgVersion = (Get-Content -Raw -Path .\src\package.json | ConvertFrom-Json).version
          echo "PACKAGE_VERSION=$env:pkgVersion" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "version: $env:pkgVersion"

      - name: npm install
        run: npm install

      - name: npm rebuild
        run: npm run rebuild

      - name: npm package
        run: npm run dist:lin

      - name: Publish AppImage
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v2
        with:
          name: Bitwarden-Connector-${{ env.PACKAGE_VERSION }}-x86_64.AppImage
          path: ./dist/Bitwarden-Connector-${{ env.PACKAGE_VERSION }}-x86_64.AppImage
